[submodule "GW2Radial/imgui"]
	path = GW2Radial/imgui
	url = https://github.com/Friendly0Fire/imgui.git
[submodule "GW2Radial/simpleini"]
	path = GW2Radial/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "GW2Radial/minhook"]
	path = GW2Radial/minhook
	url = https://github.com/Friendly0Fire/minhook.git
[submodule "GW2Radial/xxhash"]
	path = GW2Radial/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "GW2Radial/json"]
	path = GW2Radial/json
	url = https://github.com/nlohmann/json.git
[submodule "GW2Radial/cpp-semver"]
	path = GW2Radial/cpp-semver
	url = https://github.com/easz/cpp-semver.git
