[submodule "GW2Mounts/imgui"]
	path = GW2Mounts/imgui
	url = https://github.com/Friendly0Fire/imgui.git
[submodule "GW2Mounts/simpleini"]
	path = GW2Mounts/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "GW2Mounts/minhook"]
	path = GW2Mounts/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "GW2Mounts/xxhash"]
	path = GW2Mounts/xxhash
	url = https://github.com/Cyan4973/xxHash.git
